@theme static {
 --color-accent: #3077f7;
 --color-accent-100: #f6f9ff;
 --color-accent-200: #edf2fd;
 --color-accent-300: #b7d0fc;
 --color-accent-500: #1c5acc;
 --color-black: #252525;
 --color-black-100: #f0f2f6;
 --color-black-200: #e2e5ea;
 --color-black-300: #a1a7b3;
 --color-green: #0b7c42;
 --color-green-100: #e8f6f0;
 --color-green-200: #dbf5e8;
 --color-green-300: #b0e4c9;
 --color-green-400: #0f914e;
 --color-orange: #c77612;
 --color-orange-100: #fff7ec;
 --color-orange-200: #fbeddb;
 --color-orange-300: #f8e0c5;
 --color-orange-400: #dd8416;
 --color-red: #ba1010;
 --color-red-100: #fcecec;
 --color-red-200: #f8dfdf;
 --color-red-300: #f5caca;
 --color-red-400: #d71616;
 --color-white: #fff;
}
