input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
 margin: 0;
 appearance: none;
}

input[type="number"] {
 appearance: textfield;
}

body {
 font-weight: 400;
 font-family: Onest, sans-serif;
}
