@import url("./base.css");

:root,
:host {
 --animate-fade-in: fadein 0.3s ease-out forwards;
 --animate-fade-out: fadeout 0.2s ease-in forwards;
 --animate-language-close: language-close 0.15s ease-in-out;
 --animate-language-open: language-open 0.15s ease-in-out;
 --animate-scale-in: scalein 0.3s ease-out forwards;
 --animate-scale-out: scaleout 0.2s ease-in forwards;
 --color-accent: #3077f7;
 --color-accent-100: #f6f9ff;
 --color-accent-200: #edf2fd;
 --color-accent-300: #b7d0fc;
 --color-accent-500: #1c5acc;
 --color-black: #252525;
 --color-black-100: #f0f2f6;
 --color-black-200: #e2e5ea;
 --color-black-300: #a1a7b3;
 --color-green: #0b7c42;
 --color-green-100: #e8f6f0;
 --color-green-200: #dbf5e8;
 --color-green-300: #b0e4c9;
 --color-green-400: #0f914e;
 --color-orange: #c77612;
 --color-orange-100: #fff7ec;
 --color-orange-200: #fbeddb;
 --color-orange-300: #f8e0c5;
 --color-orange-400: #dd8416;
 --color-red: #ba1010;
 --color-red-100: #fcecec;
 --color-red-200: #f8dfdf;
 --color-red-300: #f5caca;
 --color-red-400: #d71616;
 --color-white: #fff;
 --scrollbar-size: 5px;
 --breakpoint-mob: 0px;
 --breakpoint-mob-large: 425px;
 --breakpoint-pc: 1024px;
 --breakpoint-tablet: 768px;
 --spacing-1px: 0.0625rem;
 --spacing-2px: 0.125rem;
 --spacing-3px: 0.1875rem;
 --spacing-4px: 0.25rem;
 --spacing-5px: 0.3125rem;
 --spacing-6px: 0.375rem;
 --spacing-7px: 0.4375rem;
 --spacing-8px: 0.5rem;
 --spacing-9px: 0.5625rem;
 --spacing-10px: 0.625rem;
 --spacing-11px: 0.6875rem;
 --spacing-12px: 0.75rem;
 --spacing-13px: 0.8125rem;
 --spacing-14px: 0.875rem;
 --spacing-15px: 0.9375rem;
 --spacing-16px: 1rem;
 --spacing-17px: 1.0625rem;
 --spacing-18px: 1.125rem;
 --spacing-19px: 1.1875rem;
 --spacing-20px: 1.25rem;
 --spacing-21px: 1.3125rem;
 --spacing-22px: 1.375rem;
 --spacing-23px: 1.4375rem;
 --spacing-24px: 1.5rem;
 --spacing-25px: 1.5625rem;
 --spacing-26px: 1.625rem;
 --spacing-27px: 1.6875rem;
 --spacing-28px: 1.75rem;
 --spacing-29px: 1.8125rem;
 --spacing-30px: 1.875rem;
 --spacing-31px: 1.9375rem;
 --spacing-32px: 2rem;
 --spacing-33px: 2.0625rem;
 --spacing-34px: 2.125rem;
 --spacing-35px: 2.1875rem;
 --spacing-36px: 2.25rem;
 --spacing-37px: 2.3125rem;
 --spacing-38px: 2.375rem;
 --spacing-39px: 2.4375rem;
 --spacing-40px: 2.5rem;
 --spacing-41px: 2.5625rem;
 --spacing-42px: 2.625rem;
 --spacing-43px: 2.6875rem;
 --spacing-44px: 2.75rem;
 --spacing-45px: 2.8125rem;
 --spacing-46px: 2.875rem;
 --spacing-47px: 2.9375rem;
 --spacing-48px: 3rem;
 --spacing-49px: 3.0625rem;
 --spacing-50px: 3.125rem;
 --spacing-51px: 3.1875rem;
 --spacing-52px: 3.25rem;
 --spacing-53px: 3.3125rem;
 --spacing-54px: 3.375rem;
 --spacing-55px: 3.4375rem;
 --spacing-56px: 3.5rem;
 --spacing-57px: 3.5625rem;
 --spacing-58px: 3.625rem;
 --spacing-59px: 3.6875rem;
 --spacing-60px: 3.75rem;
 --spacing-61px: 3.8125rem;
 --spacing-62px: 3.875rem;
 --spacing-63px: 3.9375rem;
 --spacing-64px: 4rem;
 --spacing-65px: 4.0625rem;
 --spacing-66px: 4.125rem;
 --spacing-67px: 4.1875rem;
 --spacing-68px: 4.25rem;
 --spacing-69px: 4.3125rem;
 --spacing-70px: 4.375rem;
 --spacing-71px: 4.4375rem;
 --spacing-72px: 4.5rem;
 --spacing-73px: 4.5625rem;
 --spacing-74px: 4.625rem;
 --spacing-75px: 4.6875rem;
 --spacing-76px: 4.75rem;
 --spacing-77px: 4.8125rem;
 --spacing-78px: 4.875rem;
 --spacing-79px: 4.9375rem;
 --spacing-80px: 5rem;
 --spacing-81px: 5.0625rem;
 --spacing-82px: 5.125rem;
 --spacing-83px: 5.1875rem;
 --spacing-84px: 5.25rem;
 --spacing-85px: 5.3125rem;
 --spacing-86px: 5.375rem;
 --spacing-87px: 5.4375rem;
 --spacing-88px: 5.5rem;
 --spacing-89px: 5.5625rem;
 --spacing-90px: 5.625rem;
 --spacing-91px: 5.6875rem;
 --spacing-92px: 5.75rem;
 --spacing-93px: 5.8125rem;
 --spacing-94px: 5.875rem;
 --spacing-95px: 5.9375rem;
 --spacing-96px: 6rem;
 --spacing-97px: 6.0625rem;
 --spacing-98px: 6.125rem;
 --spacing-99px: 6.1875rem;
 --spacing-100px: 6.25rem;
 --font-main: onest, serif;
 --text-base: 1rem, 130%;
 --text-lg: 1.125rem, 130%;
 --text-sm: 0.875rem, 130%;
 --text-xl: 1.375rem, 130%;
 --text-xs: 0.75rem, 130%;
 --text-xxl: 2.625rem, 130%;
 --text-xxs: 0.625rem, 130%;
}
